<div id="logininfo">
	<div id="logininfoinner">
<% if current_user%>
	<span  class="white">
	<b>Logged in as :</b> <%= current_user.login%> | 	
	<%= link_to "Logout", logout_path %>
	</span>
<% else %>		
	<%= link_to "Login", new_user_session_path %> | <%= link_to "Register", new_user_path %> 
	
<% end %>
	</div>
</div>